:root {
  --border-radius: 10px;
  --drop-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
}

#regio {
  padding-top: 2rem;
  min-height: calc(100vh - 76px); /* 76 px = navbar height */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#regio > h1,
#regio > h4 {
  text-shadow: var(--drop-shadow);
}

.big-button {
  color: var(--color-white);
  background: linear-gradient(
    92.82deg,
    #488f4b -3.61%,
    #7ebb5d 29.58%,
    #8fc863 75.71%,
    #488f4b 104.4%
  );
  background-color: var(--color-primary);
  transition: all 0.3 ease-in-out;
  width: 100%;
  margin-top: 2rem;
  border-radius: var(--border-radius);
  padding: 10px;
  z-index: 10;
  position: relative;
}

@media (min-width: 576px) {
  .big-button {
    max-width: 400px;
  }
}

@media (min-width: 992px) {
  .big-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    max-width: 400px;
    margin-top: 0;
  }
}

.big-button > .top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 90px;
  filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, 0.25));
}

.big-button > .top:hover i {
  transform: translateX(5px);
  transition: all 0.3s ease-in-out;
}

.big-button > .top i {
  font-size: var(--h2-size);
  font-weight: 900;
  transition: all 0.3s ease-in-out;
  padding-left: 5px;
}

.big-button > .top input[type="submit"] {
  background: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: var(--h3-size);
  letter-spacing: 0.03em;
  color: var(--color-white);
}

.big-button > .bottom {
  border-top: solid 1px var(--color-white);
  height: 60px;
  display: flex;
  align-items: center;
  filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, 0.25));
}

.big-button > .bottom > select {
  background: none;
  border: 0;
  outline: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: var(--p-size);
  color: var(--color-white);
}

.big-button > .bottom > select > option {
  background: var(--color-primary);
  border: 0;
  outline: 0;
}

#nav #navbarText {
  justify-content: flex-end;
}

.regio-card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: var(--border-radius);
  box-shadow: var(--drop-shadow);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  width: fit-content;
  position: relative;
  /* top: 40vh; */
  z-index: 10;
}

.regio-card > h3,
.regio-card > p {
  margin: 0;
}

.regio-card > h3 {
  font-size: 14px;
  text-align: center;
}

@media (min-width: 576px) {
  .regio-card {
  }

  .regio-card > h3 {
    font-size: var(--h3-size);
  }

  #occidental-card,
  #central-card,
  #oriental-card {
    position: absolute;
    top: 50vh;
  }
}

/* Dots */
.region-picker-container {
  display: flex;
  flex-direction: column;
}

.region-picker {
  display: none;
}

@media (min-width: 576px) {
  .region-picker {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.region-picker fieldset > input {
  position: absolute;
  left: -10000px;
}

.region-picker fieldset > label > img {
  transition: all 0.2s ease-in-out;
  width: 100%;
  filter: grayscale(1);
}

.region-picker fieldset > input:checked + label > img {
  filter: grayscale(0);
  transition: all 0.2s ease-in-out;
}

.region-picker fieldset > input:hover:not([disabled]) + label > img {
  filter: grayscale(0);
  filter: saturate(0.8);
  filter: brightness(1.3);
  transition: all 0.2s ease-in-out;
}

.region-picker fieldset > input:hover ~ .regio-card,
.region-picker fieldset > input:checked ~ .regio-card {
  opacity: 1;
}

/* Bootstrap modifiers */
@media (min-width: 576px) {
  .container {
    max-width: 991px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1000px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

/* Region picker */
.region-picker-mobile {
  width: 100%;
}

@media (min-width: 576px) {
  .region-picker-mobile {
    display: none;
  }
}

.carousel {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.slides {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

/* Hides scrollbar for Mozilla */
.slides {
  scrollbar-width: none;
}

/* Hides scrollbar for webkit and blink powered browsers*/
.slides::-webkit-scrollbar {
  display: none;
}

.slides-item {
  scroll-snap-align: start;
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-shrink: 0;
  font-size: 100px;
  height: 60vh;
  justify-content: center;
  margin: 0 1rem;
  position: relative;
  transform: scale(1);
  transform-origin: center center;
  transition: transform 0.5s;
  width: 100%;
}

.slides-item > img {
  max-height: 100%;
}

.slides-item > .regio-card {
  display: block;
  position: absolute;
  opacity: 1;
  align-self: center;
}

.carousel__nav {
  padding: 1.25rem 0.5rem;
}

.slider-nav {
  align-items: center;
  background-color: #ddd;
  border-radius: 50%;
  color: #000;
  display: inline-flex;
  height: 1.5rem;
  justify-content: center;
  padding: 0.5rem;
  position: relative;
  text-decoration: none;
  width: 1.5rem;
}

.slider-nav:hover,
.slider-nav:active {
  background-color: #000;
  color: #fff;
}
