:root {
  --border-radius: 10px;
  --drop-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
}
#regio {
  min-height: calc(100vh - 76px); /* 76 px = navbar height */
  background-color: var(--color-bg);
}

#regio > h1,
#regio > h4 {
  text-shadow: var(--drop-shadow);
}

.big-button {
  color: var(--color-white);
  background: linear-gradient(
    92.82deg,
    #488f4b -3.61%,
    #7ebb5d 29.58%,
    #8fc863 75.71%,
    #488f4b 104.4%
  );
  background-color: var(--color-primary);
  transition: all 0.3 ease-in-out;
  width: 100%;
  max-width: 400px;
  border-radius: var(--border-radius);
  padding: 10px;
}

.big-button > .top {
  display: flex;
  align-items: center;
  height: 90px;
  filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, 0.25));
}

.big-button > .top:hover i {
  transform: translateX(5px);
  transition: all 0.3s ease-in-out;
}

.big-button > .top i {
  font-size: 38px;
  font-weight: 900;
  transition: all 0.3s ease-in-out;
  padding-left: 5px;
}

.big-button > .top input[type="submit"] {
  background: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  letter-spacing: 0.03em;
  color: var(--color-white);
}

.big-button > .bottom {
  border-top: solid 1px var(--color-white);
  height: 60px;
  display: flex;
  align-items: center;
  filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, 0.25));
}

.big-button > .bottom > select {
  background: none;
  border: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: var(--color-white);
}

#nav #navbarText {
  justify-content: flex-end;
}

.regio-card {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--drop-shadow);
  padding: 5px;
  display: flex;
  justify-content: center;
  visibility: hidden;
  position: relative;
}

/* Dots */
.region-picker-container {
  display: flex;
  flex-direction: column;
}
.region-picker {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.region-picker > fieldset {
  width: 100%;
}

.region-picker > fieldset > input {
  display: none;
}

.region-picker > fieldset > label {
  width: 100%;
  height: 100%;
}

.region-picker > fieldset > label > svg,
.region-picker > fieldset > label > svg > g {
}

.dots-zone > circle {
  fill: #999999;
}

input[type="radio"]:checked + label .dots-zone > circle {
  fill: green;
}

input[type="radio"]:checked + label + .regio-card,
input[type="radio"]:hover + label + .regio-card {
  visibility: visible;
}

input[type="radio"]:hover + label .dots-zone > circle {
  fill: lightgreen;
}
